---
import Baselayout from "../../layouts/Baselayout.astro";
---

<Baselayout title="Eurowave">
    <h2 class="secondary-header">eurowave</h2>

    <h3>The Effortless Workout</h3>
    
    <p>Each 30 minute treatment is the equivalent of up to 200-300 isometric sit ups, with measurable results showing after each session.</p>
    
    <h3>Inch Loss Where You Want It Most</h3>

    <p>Eurowave is a targeted inch loss treatment that uses an enhanced faradic wave to target specific muscle groups and effectively work them, the same as going to the gym. Eurowave  does a lot more than just stimulate your lymphatic system. It is a safe, effective, healthy way to energize and detoxify the body. The pads are applied directly to the areas where you want to lose inches.</p>

</Baselayout>