@import "open-props/normalize";


.content-grid {
    --padding-inline: 1rem;
    --content-max-width: 900px;
    --breakout-max-width: 1200px;
  
    --breakout-size: calc(
      (var(--breakout-max-width) - var(--content-max-width)) / 2
    ); 
  
    display: grid;
    grid-template-columns:
      [full-width-start] minmax(var(--padding-inline), 1fr)
      [breakout-start] minmax(0, var(--breakout-size))
      [content-start] min(
        100% - (var(--padding-inline) * 2),
        var(--content-max-width)
      )
      [content-end]
      minmax(0, var(--breakout-size)) [breakout-end]
      minmax(var(--padding-inline), 1fr) [full-width-end];
  }
  
  .content-grid > :not(.breakout, .full-width),
  .full-width > :not(.breakout, .full-width) {
    grid-column: content;
  }
  
/* Color */
:root {
    --bkg: var(--stone-0);
    --text: var(--stone-11);
    --accent: var(--indigo-4);
}

body {
    background-color: var(--bkg);
    color: var(--text);
}

.hero {
    padding-block: var(--size-fluid-4);
}

.secondary-header {
  font-weight: var(--font-weight-3);
  padding-block: var(--size-fluid-2);
  text-transform: capitalize;
}

.center {
  text-align: center;
}

h3 {
  color: var(--accent);
  font-size: var(--size-5);
  font-weight: var(--font-weight-3);
  padding-block: var(--size-fluid-1);
}

p {
  padding-bottom: var(--size-fluid-1);
  font-size: var(--size-4);
  font-weight: var(--font-weight-2);
}

p::selection {
  background: var(--accent);
  color: var(--bkg);
}


.cta  {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-5);
    justify-self: center;
    text-align: center;
}

@media(width > 50em) {
    .cta {
        font-size: var(--font-size-8);
        text-align: left;
        line-height: var(--font-lineheight-0);
    }
    .cta, img {align-self: center;}
}

.cta span {
    color: var(--accent);
}

.even-columns {
    display: grid;
    gap: var(--size-7);
    justify-items: center;
}

@media (width > 50em) {
    .even-columns {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
}
