---
import Baselayout from "../../layouts/Baselayout.astro";
---

<Baselayout title="Contact">
    <h2 class="secondary-header">contact</h2>

    <section class="location">
        <p>We are located inside Faces Ect.</p>
        <address>
            906 W. Main St.<br />
            League City, TX 77573<br />
            <a href="tel:2815543223">(281) 554 3223</a>
        </address>

        <p>Ask for Rhonda Smith<br />
            Liscensed Aesthetician & Laser Tech<br />

        </p>
    </section>

    <!-- <section>
        <form action="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" required title="please enter your name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" required title="must be a valid email address">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea name="message" id="message"></textarea>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </section> -->
</Baselayout>

<style>

    section {
        padding-top: var(--size-fluid-3);
    }
    .location {
        
        display: grid;
        place-content: center;
    }
    address {
        margin-bottom: var(--size-3);
    }

    /* form {
        display: grid;
        place-content: center;
        gap: var(--size-3);
        
    }
    
    .form-group {
        display: grid;
        gap: var(--size-1);
    }

    input,textarea {
        background-color: var(--bkg);
        border: solid 2px var(--text);
        border-radius: var(--radius-2);
    } */
</style>