---
import Baselayout from "../../layouts/Baselayout.astro";
---

<Baselayout title="Contact">
    <h2 class="secondary-header">contact</h2>

    <section class="location">
        <p>We are located inside <a href="https://www.dayspabeautysalon.com/">Faces Ect.</a></p>
        <address>
            906 W. Main St.<br />
            League City, TX 77573<br />
            <a href="tel:2815543223">(281) 554 3223</a>
        </address>

        <p>Ask for Rhonda Smith<br />
            Liscensed Aesthetician & Laser Tech<br />

        </p>
    </section>

    <section>
        <!-- <form name="contact" method="POST" data-netlify="true">
            <div class="form-group with-error-field">
                <label for="name">Name</label>
                <input placeholder="Your name" type="text" name="name" id="name" pattern="[A-Za-z ]{1,32}" title="please enter your name">
                <span class="error">Name required</span>
            </div>
            <div class="form-group with-error-field">
                <label for="email">Email Address</label>
                <input placeholder="name@example.com" type="email" name="email" id="email" title="please enter a valid email address">
                <span class="error">Email address required</span>
            </div>
            <div class="form-group with-error-field">
                <label for="message">Message</label>
                <textarea name="message" id="message" title="please enter a message"></textarea>
                <span class="error">Message required</span>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form> -->
    </section>
</Baselayout>

<style>

    section {
        padding-top: var(--size-fluid-3);
    }
    .location {
        
        display: grid;
        place-content: center;
    }
    address {
        margin-bottom: var(--size-3);
    }

    a:hover,
    a:focus {
        color: var(--accent);
        text-decoration: none;
    }

    /* form {
        margin-inline: auto;
        display: grid;
        gap: var(--size-3);
        padding: var(--size-2);
        max-inline-size: var(--size-content-2);
    }

    input,textarea {
        background-color: var(--bkg);
        border: solid 1px var(--text);
        border-radius: var(--radius-2);
        padding: var(--size-2);
        font: inherit;
        font-size: var(--size-3);
    }

    input:not(:focus):invalid {
        color: var(--accent);
        border: 1px solid var(--accent);
    }

    textarea {
        min-height: var(--size-11);
    }

    button {
        background: var(--accent);
        color: var(--bkg);
        font: inherit;
        padding-inline: var(--size-8);
        padding-block: var(--size-2);
        border-radius: var(--size-2);
    }

    button:hover,button:focus-visible {
        box-shadow: var(--shadow-3);
    }
   
    .form-group {
        display: grid;
        gap: var(--size-1);
    }

    .form-group > .error {
        grid-row: 1;
        grid-column: 2;
        text-align: end;
        color: var(--accent);
        display: none;
    }

    .form-group > :not(:focus):invalid + .error {
        display: block;
    }

    .form-group.with-error-field {
        grid-template-columns: 1fr max-content;
    }

    .form-group.with-error-field > input,
    .form-group.with-error-field > textarea {
        grid-column: 1 / -1;
    } */


</style>