---
import Baselayout from "../layouts/Baselayout.astro"
import  image  from '../assets/loseinches.png';
import { Icon } from 'astro-icon/components';
---

<Baselayout>
	<section class="hero even-columns">
		<h1 class="cta"><span>Lose 2 - 6 sizes</span> in 45 days <span>without surgery</span></h1>
		<img src={image.src} alt="Lose inches" />
	</section>
	<section class="featured-items">
		<a href="./bodywraps/" class="card">
			
			<Icon name="iconoir:waist" size={50} class="icon"/>
			<h2>body wraps</h2>
			<p>Smooth Cellulite, slim inches, improve skin tone, and benefit the entire body!</p>
		
		</a>

		<a href="./eurowave/" class="card">

			<Icon name="icon-park-outline:waistline" size={50} class="icon"/>
			<h2>Eurowave</h2>
			<p>The effortless workout with instant specific inch loss!</p>
		</a>

		<a href="./bootcamp/" class="card">

			<Icon name="mdi:weight-lifter" size={50} class="icon"/>
			<h2>bootcamp</h2>
			<p>Diet & exercise not working fast enough for you? Let us help!</p>

		</a>
	</section>
</Baselayout>

<style>
	.card, a:visited {
		color: var(--text);
		text-decoration: none;
	}
</style>