---
import Baselayout from "../layouts/Baselayout.astro";
import  image  from '../assets/loseinches.png';
import { Icon } from 'astro-icon/components';
---

<Baselayout descrip="Discover the power of Eurowave for targeted inch loss! Experience measurable results after each session and transform your body with our innovative technology.">
	<section class="hero even-columns">
		<h1 class="cta"><span>Lose 2 - 6 sizes</span> in 45 days <span>without surgery</span></h1>
		<img src={image.src} alt="Lose inches" />
	</section>
	<section class="featured-items">
		<a href="./bodywraps/" class="card one">
			
			<Icon name="iconoir:waist" size={50} class="icon"/>
			<h2>body wraps</h2>
			<p>Smooth Cellulite, slim inches, improve skin tone, and benefit the entire body!</p>
		
		</a>

		<a href="./eurowave/" class="card">

			<Icon name="icon-park-outline:waistline" size={50} class="icon"/>
			<h2>Eurowave</h2>
			<p>The effortless workout with instant specific inch loss!</p>
		</a>

		<a href="./bootcamp/" class="card">

			<Icon name="mdi:weight-lifter" size={50} class="icon"/>
			<h2>bootcamp</h2>
			<p>Diet & exercise not working fast enough for you? Let us help!</p>

		</a>
	</section>
</Baselayout>

<style>

.featured-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: var(--size-8);
    padding-block: var(--size-fluid-5);
}

.card {
    flex-basis: var(--size-content-1);
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    background: var(--gray-2);
    border: 1px solid var(--gray-1);
    padding: var(--size-4);
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-2);
  }

  .card .icon {
    color: var(--accent);
  }

  .card h2 {
    font-size: var(--size-fluid-3);
    font-weight: var(--font-weight-4);
    text-transform: capitalize;
  }
	.card, a:visited {
		color: var(--text);
		text-decoration: none;
	}

</style>