---
import Baselayout from "../../layouts/Baselayout.astro";
---

<Baselayout>
    <h2 class="secondary-header">bootcamp</h2>

    <p>You too can acheive similar eye-catching results in just 3 sessions a week.</p>

    
</Baselayout>