---
import '../styles/global.css'
const {title} = Astro.props;
const {descrip} = Astro.props;
import Navbar from '../components/Navbar.astro'
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title} League City Body Sculpt</title>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="description" content={descrip} />
		<meta name="theme-color" content="#748ffc" />
	</head>
	<body>
        <header class="content-grid">
            <Navbar />
        </header>
        <main class="content-grid">
            <slot />
        </main>
	</body>
</html>

