---
import '../styles/global.css'
const {title} = Astro.props;
import Navbar from '../components/Navbar.astro'
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Achieve a slimmer, more contoured figure with Mil's revolutionary body wraps. EuroWave helps break down fat cells and minimize the look of cellulite for a smoother, more toned physique. Uncover a total body transformation at League City Body Sculpt." />
		<title>League City Body Sculpt | {title}</title>
	</head>
	<body>
        <header class="content-grid">
            <Navbar />
        </header>
        <main class="content-grid">
            <slot />
        </main>
	</body>
</html>

